.drawer {
  right: -300px; /* hidden by default */
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.drawer.open {
  right: 0; /* slide in, overrides negative in above drawer class */
}
