/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import "tailwindcss";

@font-face {
  font-family: chess;
  src: url(src/assets/MERIFONT.TTF);
}

.chess-icons {
  font-family: chess, serif;
}

label {
  display: flex;
  flex-direction: column;
  padding: 5px
}

input {
  width: 100%;
  padding: 4px;
  font-size: 14px;
  margin-bottom: 12px;
  background-color: white;
}

textarea {
  background-color: white;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

button:disabled {
  opacity: 0.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

/*a:hover {*/
/*  opacity: 1;*/
/*  text-decoration: none;*/
/*}*/
